@model WebApplication2.Wyplata

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Wyplata</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Zus)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Zus)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Dochodowy)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Dochodowy)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Data)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Data)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PlacaNetto)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PlacaNetto)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Emerytalna)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Emerytalna)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.rentowa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.rentowa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.chorobowa)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.chorobowa)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Table.Imie)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Table.Imie)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.IdWyplata }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
