@model WebApplication2.Models.RejestracjaModel

@{
    ViewBag.Title = "Rejestracja";
}

<h2>Rejestracja</h2>


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Stworz nowe konto.</h2>
</hgroup>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Registration Form</legend>
        <ol>
            <li>
                @Html.Label("Login")
                @Html.TextBoxFor(m => m.login)
            </li>
            <li>
                @Html.Label("Haslo")
                @Html.PasswordFor(m => m.Haslo)
            </li>
            <li>
                @Html.Label("Potwierdz Haslo")
                @Html.PasswordFor(m => m.PotwierdzHaslo)
            </li>
            <li>
                @Html.Label("Imie")
                @Html.TextBoxFor(m => m.Imie)
            </li>
            <li>
                @Html.Label("Nazwisko")
                @Html.TextBoxFor(m => m.Nazwisko)
            </li>
            <li>
                @Html.Label("Data Urodzenia")
                @Html.TextBoxFor(m => m.Data_Urodzenia)
            </li>
            <li>
                @Html.Label("Dzial")
                @Html.TextBoxFor(m => m.Dzial)
            </li>
            <li>
                @Html.Label("Pesel")
                @Html.TextBoxFor(m => m.Pesel)
            </li>
            <li>
                @Html.Label("Wypłata Brutto")
                @Html.TextBoxFor(m => m.WyplataBrutto)
            </li>
        </ol>
        <input type="submit" value="Zarejestruj" />
    </fieldset>
}
@if (TempData["rejestracja"] != null)
{
    <p style="color:#8B0000">@TempData["rejestracja"]</p>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
